@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

@theme {
  --color-primary: #1A0B49;
  --color-red: #C52127;
  --screen-xs: 20rem;
}

@keyframes wcf_animation_wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.acnoo_logo {
  animation: wcf_animation_wiggle 2s linear infinite;
}

@media (min-width: var(--screen-xs)) {
  .xs_screen {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

button {
  cursor: pointer;
}

.price-bg {
  background-image: url('/price-bg.png');
  background-repeat: no-repeat;
  width: 134px;
  height: 56px;
}

.admin-footer-bg {
  background-image: url('/footer1bg.png');
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
}

.testimonial-bg {
  background-image: url('/testimonial-bg.png');
  background-repeat: no-repeat;
  background-position: center;
}

.bg-clr {
  background-image: url('/become-bg.png');
  background-repeat: no-repeat;
  width: 100%;

}

.grad2_text {
  background: linear-gradient(90deg, #FFF 49.65%, #000 95.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_text1 {
  background: url('/home/grad1.jfif') no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-left: 2px;
}

html,
body {
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  max-width: 1461px;
  width: 100%;
  margin: auto
}

/* topbar */
.top_bg {
  background-image: url('/topbackground.png');
  background-repeat: no-repeat;
  width: 100%;
}

.footer_bg {
  background-image: url('/home/footerbg.png');
  background-repeat: no-repeat;
  width: 100%;
}

.join_team {
  background-image: url('/about/jointeam.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 571px;
  background-size: cover;
}

.ebanner_bg {
  background-image: url('/ecommerce/banner-bg.png');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.line_bg {
  background-image: url('/ecommerce/linebg.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;
  height: 1000px;

}

.sky-bg {
  background-image: url('/admindashboard/skybg.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;
  background-size: cover;
}

.search_bg {
  background-image: url('/admindashboard/searchbg.png');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 132px;
}



.res_body {
  background-image: url('/ecommerce/body2.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;
  background-size: cover;
}

.support_bg {
  background-image: url('/admindashboard/supportbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 554px;
}

.bottom_grad {
  background-image: url('/admindashboard/bottom-grad.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;

}

.responsive_bg {
  background-image: url('/admindashboard/responsive_bg.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;
  background-size: cover;
}

.buisness-bg {
  background-image: url('/admindashboard/buisness-bg.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;
  background-size: cover;
}

.buisness_bg {
  background-image: url('/ecommerce/body1.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: bottom;
  background-size: cover;
}

.white_bg {
  background-image: url('/admindashboard/white-bg.png');
  background-repeat: no-repeat;
  height: 771px;
  background-size: cover;

}

.product_bg {
  background-image: url('/home/productsbg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.supportticket_bg {
  background-image: url('/admindashboard/supportticket-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.globally_growth {
  background-image: url('/home/globallygrowthgrad.png');
  background-repeat: no-repeat;
  background-color: #180b41;
  background-position: bottom;
  background-size: cover;
}

.specialize_bg {
  background-image: url('/home/specializebg.png');
  background-repeat: no-repeat;
  background-color: #180B41;
  background-size: cover;
}

.increase_revenue {
  background-image: url('/home/OurALLItems.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom_banner {
  height: fit-content;
  width: 100%;
  background-size: cover;
  background-image: url('/home/bottomfooter.png');
  background-repeat: no-repeat;
}

.about_bg {
  width: 100%;
  background-image: url('/about/aboutbanner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_bg {
  background-image: url('/home/banner-bg.png');
  background-repeat: no-repeat;
  min-height: 705px;
  width: 100% !important;
  background-size: cover !important;
}

.hero_bg {
  background-image: url('/admindashboard/herobg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.count_bg {
  background-image: url('/admindashboard/elements.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.link_style {
  color: var(--red, #C52127);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.service-hover-bg {
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.work_bg {
  background-image: url('/about/workbg.png');
  /* Use relative public path */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.hire_us_bg {
  background-image: url('/home/hireus-bg.png');
  /* Use relative public path */
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: normal;
  background-color: transparent;
  isolation: isolate;
}

.company_bg {
  background-image: url('/about/company_inside_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 921px;
  background-size: cover;
}

.service-hover-bg:hover {
  background-image: url('/about/border.png');
}

/* topbar */
.clip_text {
  opacity: 0.05;
  background: linear-gradient(91deg, #6237E5 47.84%, #E217ED 102.22%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Space Grotesk";
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -2px;
  text-transform: capitalize;
  color: #1A0B49;
  text-align: center;
  opacity: 0.05;
  /* width: 100%; */
  white-space: nowrap;
}

.mega-menu,
.mega-menu-why,
.mega-menu-addons {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 50%;
  top: 0;
  position: absolute;
  text-align: left;
  width: max-content;
  max-width: 95vw;
  transform: translateX(-50%);
  transition: opacity 0.20s linear, top 0.20s linear, visibility 0.20s linear;
}

.hoverable {
  position: static;
}

.hoverable:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
  top: 115px;
}


.hoverable:hover .mega-menu-addons {
  opacity: 1;
  visibility: visible;
  z-index: 900;
  top: 115px;
}

.hoverable:hover .mega-menu-why {
  opacity: 1;
  visibility: visible;
  z-index: 900;
  top: 115px;
  /* End at top: 90px */
}

/* #toggle Class Styles */


/* banner */
.acno_1 {
  background-color: #FFF;
  border: 1px solid #E6E6E8;
  box-shadow: 0px 4px 15px rgba(69, 84, 121, 0.13);
  width: 185.52px;
  height: 185.713px;
  flex-shrink: 0;
  aspect-ratio: 185.52/185.71;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acno_2 {
  border-radius: 286.613px;
  border: 1px solid #E6E6E8;
  background: #FFF;
  box-shadow: 0px 0px 32px 17px rgba(0, 0, 0, 0.06);
  width: 286.315px;
  height: 286.613px;
  flex-shrink: 0;
}

.acno_3 {
  width: 372.553px;
  height: 372.942px;
  flex-shrink: 0;
  border-radius: 372.942px;
  border: 1px solid #E6E6E8;
  background: #FFF;
}

.acno_4 {
  border-radius: 466.177px;
  border: 1px solid #E6E6E8;
  background: linear-gradient(180deg, #FFE7E5 0%, #F3A8FF 100%);
  width: 465.692px;
  height: 466.177px;
  flex-shrink: 0;
}

.gradient_text {
  margin-left: 2px;
  background: url('/home/grad1.jfif') no-repeat center;
  background-size: cover;
  /* margin-left: 5px; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: "Space Grotesk", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: -0.72px;
}


.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

.case-slider__wrapper {
  padding-bottom: 12px !important;
}


.swiper-pagination-bullet-active {
  background-color: #2353F5;
  position: relative;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -9px;
  width: 26px;
  height: 26px;
  margin-right: 15px;
  border-radius: 50%;
  border: 3px solid #2353F5;
  /* Blue border */
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 13px) !important;
}


.whatpeoplethink_wrapper .swiper-slide {
  max-width: 888px;
  width: 100% !important;
}

.whatpeoplethink_wrapper .swiper {
  padding-bottom: 70px;
}

.whatpeoplethink_wrapper .swiper-slide {
  margin-right: 20px !important;
}

.category {
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.08);
  padding: 30px
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 10px;
  background: #1E0E62;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 20px;
  width: 10px;
  background: #1E0E62;
  border-radius: 4px;
  cursor: pointer;
}

/* .service-bg*/
.service-bg {
  background-image: url("/service/serviceBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}


/* testimonial */
.testimonial .swiper {
  width: 831px;
  height: 444px;
}

.testimonial .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: white;
}


.testimonial .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  background: #FFF;
  transition: all 0.3s ease;
}

.testimonial .swiper-slide:nth-child(1n) {
  z-index: 3;
  background: white;
}

.testimonial .swiper-slide:nth-child(2n) {
  z-index: 2;
  background: white;
}

.testimonial .swiper-slide:nth-child(3n) {
  z-index: 1;
  background: white;
}

.testimonial .swiper-slide:nth-child(2n) {
  transform: scale(0.98);
  opacity: 0.95;
  background: white;
}

.testimonial .swiper-slide:nth-child(3n) {
  transform: scale(0.96);
  opacity: 0.9;
  background: white;
}

/* testimonial */
.offer {
  background-image: url("/gradient-bg.svg");
}

.support-bg {
  background-image: url('/support/supoortBg.png');
  background-repeat: no-repeat;
  height: 123px;
  background-size: cover;
  width: 100%;
}


/* caste and study  */
.case_study .swiper-pagination {
  position: absolute;
  right: 20px;
  width: auto !important;
  left: auto !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.free_wrapper .swiper {
  padding-bottom: 80px !important;
}

.custom-pagination-bullet {
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white !important;
  color: #000;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}


.swiper-pagination-bullet-active.custom-pagination-bullet {
  opacity: 1;
  background: white !important;
  color: #000;
}

.case-study-marque {
  background: linear-gradient(20deg, #d51a1a, #000 5.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* admindashboard */
.flutter_app_text {
  position: relative;
  display: inline-block;
}

.flutter_app_text .flutter-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  animation: underlineGrow 1s ease-out forwards;
}

@keyframes underlineGrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* admindashboard */

/* hireus icon jump */
@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.jump {
  animation: jump 2s ease-in-out infinite;
}

.shape_bg {
  background-image: url('/shape.png');
  background-repeat: no-repeat;
  background-position: center;
}

.reslayout_img {
  margin-top: -100px;
  position: relative;
  z-index: -9999;
}

.payment_shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* hireus icon jump */
@media (min-width:320px) and (max-width:374px) {
  .banner_text_desc {
    padding-inline: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .testimonial .swiper-slide:nth-child(1n) {
    width: 280px !important;
  }

  .border_bottom_img {
    display: none !important;
  }

  .support_text {
    font-size: 12px;
  }

  .sm_ms {
    margin-left: 0 !important;
  }

  .second_ul {
    white-space: wrap;
  }

  .feature_gap_wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));

  }

  .banner_btn {
    font-size: 12px;
  }

  .banner_input {
    width: 185px !important;
  }

  .ebanner_bg {
    height: 365px !important;
  }

  .fourteen_block {
    display: block !important;
    bottom: -34% !important;
  }

  .fourteen_hidden {
    display: none;
  }

  .sm_ms {
    margin-left: 12px;
  }

  .support_bg {
    background-image: url('/admindashboard/supportbg_mobile.png') !important;
  }

  .br_compatible {
    display: none;
  }

  .tab_button {
    padding: 12px 10px;
  }

  .about_wrapper .heading {
    font-size: 30px !important;
    line-height: 45px !important;
  }

  .sm_br {
    display: none;
  }

  .about_banner {
    gap: 77px;
  }

  .offer_xs {
    flex-wrap: wrap;
    border-radius: 8px;
  }

  .offer_xs .fifteen_days {
    border-right: none;
  }

  .md_lg_screen {
    width: 323px !important;
  }

  .hire_us_bg {
    margin: 0;
  }

  .xs_screen {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .wrap_button {
    flex-wrap: wrap;
    gap: 10px;
  }

  .xs_padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sm_wrap {
    white-space: wrap !important;
  }

  .social_md_icons .icons {
    width: 27px;
    height: 27px;
    margin-bottom: 0;
  }

  .inno_br {
    display: none;
  }

  .comapny_first_count {
    left: 98px;
  }
}

@media (min-width:375px) and (max-width:425px) {
  .comapny_first_count {
    left: 145px;
  }

  .br_compatible {
    display: none;
  }


}

.sm_br {
  display: none;
}

@media (min-width:320px) and (max-width:699px) {
  .app_screen_wraper {
    height: 875px !important;
  }

  .apple_screen {
    top: -5px;
  }

  .border_bottom_img {
    bottom: 84%;
    right: -14%;
    width: 150px;
  }



  .onezero_text {
    font-size: 60px !important;
    line-height: normal !important;
    letter-spacing: -1.8px !important;
  }

  .pricing_btn {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tracking_header {
    font-size: 28px;
    line-height: 36px;
  }

  .reslayout_img {
    margin-top: -9px;
  }

  .tracking_col_reverse {
    margin-bottom: 0;
  }

  .sm_br {
    display: block;
  }

  .tracking_col_reverse {
    flex-direction: column-reverse;
  }

  .buisness_bg {
    background-image: url('/ecommerce/buisness_bg1.png');
  }

  .support_bg {
    background-image: url('/admindashboard/support_md_device.png') !important;
  }

  .aniamted_1 {
    right: -20px;
  }


  .aniamted_1 img {
    width: 180px !important;
    height: 170px !important;
  }

  .aniamted_2 {
    left: -22px;
  }

  .aniamted_2 img {
    width: 250px !important;
    height: 150px !important;
  }

  .order_custom {
    order: 1;
  }

  .white_bg {
    margin: 16px;
    padding: 16px 0;
  }

  .social_md_icons {
    top: 90%;
    left: 12%;
  }

  .flex_fixed {
    gap: 50px;
  }

  .company {
    margin-right: 0;
  }

  /* hireus  */
  .hire_us_image_sm {
    display: block;
  }

  .shape_bg {
    margin-top: 144px;
  }

  .hire_text_wrap {
    margin-top: 134px;
  }

  /* hireus  */
  .tab {
    display: hidden;
  }

  .price-bg {
    background-image: url('/mobile-price-bg.png');
    background-repeat: no-repeat;
    width: 87px;
    height: 40px;
  }

  .sm_screen_position {
    bottom: 74px !important;
  }

  .testimonial .swiper {
    width: 343px;
    height: 238px;
  }

  .testimonial-bg {
    background-image: url('/testi1.png');
    background-repeat: no-repeat;
    background-position: top;
  }

  .search_bg {
    background-image: url('/admindashboard/searchbg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto !important;
  }


  .white_bg {
    height: 487px !important;
    border-radius: 14px !important;
  }

  .supportticket_bg {
    background-image: url('/ecommerce/mobile-support.png') !important;
    height: 225px !important;
  }

  .responsive .swiper-slide {
    margin-right: 8px !important;
    margin-left: 0px !important;
  }

  .join_team {
    height: 140px !important;
    background-image: url('/about/team-mobile.png') !important;

  }

  .company_bg {
    background-image: url('/about/companyinside-mobile-bg.png') !important;
    height: 322px !important;
    background-position: top !important;
    background-size: cover;
  }

  .mega-menu,
  .mega-menu-addons,
  .mega-menu-why {
    left: 0 !important;
  }

  .hoverable:hover .mega-menu-addons {
    top: 200px !important;
  }

  .hoverable:hover .mega-menu-why {
    top: 358px !important;
  }

  .footer_bg {
    background-image: none !important;
  }

  .bottom_banner {
    width: 100%;
    background-size: cover;
    background-image: url('/home/bottomfooter1.png') !important;
    background-repeat: no-repeat;
    height: 100%;
  }

  .whatpeoplethink_wrapper .swiper {
    padding-bottom: 24px !important;
  }

  .swiper-pagination {
    display: none !important;
  }

  .hire_us_bg {
    background-image: url('/home/mobile-hire-bg.png') !important;
    background-position: top !important;
  }

  .top_bg {
    height: 56px !important;
  }

  .gradient_text {

    font-size: 26px !important;
    line-height: 34px;
  }

  .gradient_text1 {
    background: url('/home/grad1.jfif') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .specialize_bg {
    background-image: url('/home/mobile-specialize_bg.png') !important;
  }

  /* banner */
  .acno_1 {
    background-color: #FFF;
    border: 1px solid #E6E6E8;
    box-shadow: 0px 4px 15px rgba(80, 105, 168, 0.13);
    width: 105.085px !important;
    height: 105.194px !important;
    flex-shrink: 0;
    aspect-ratio: 105.08/105.19;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .acno_2 {
    border-radius: 286.613px;
    border: 1px solid #E6E6E8;
    background: #FFF;
    box-shadow: 0px 0px 32px 17px rgba(0, 0, 0, 0.06);
    width: 162.178px !important;
    height: 162.347px !important;
    flex-shrink: 0;
  }

  .acno_3 {
    width: 211.027px !important;
    height: 211.247px !important;
    flex-shrink: 0;
    border-radius: 372.942px;
    border: 1px solid #E6E6E8;
    background: #FFF;
  }

  .acno_4 {
    border-radius: 466.177px;
    border: 1px solid #E6E6E8;
    background: linear-gradient(180deg, #FFE7E5 0%, #F3A8FF 100%);
    width: 263.783px !important;
    height: 264.059px !important;
    flex-shrink: 0;
  }

  /* about */
  .about_bg {
    height: 370px;
  }

  .about_wrapper {
    padding: 30px 20px;
  }

  .about_wrapper .heading {
    font-size: 35px;
    line-height: 45px !important;
  }

  /* about */
  .arrow_cls {
    width: 48px;
    height: 48px;
    right: 42%;
  }

  .tenk_text {
    font-size: 154px !important;
  }

  /* about */
  .mega-menu,
  .mega-menu-addons,
  .mega-menu-why {
    left: 48% !important;
  }

  .unique_number {
    margin-bottom: -96px !important;
  }

  .ebanner_bg {
    background-image: url('/ecommerce/banner-bg1.png');
    height: 415px;
  }

  .feature_tenk {
    margin-bottom: -70px !important;
  }

  .feature_mt {
    margin-top: 30px;
  }

  .fourteen_block {
    display: block !important;
    bottom: -37% !important;
  }

  .fourteen_hidden {
    display: none;
  }

  .unique_text {
    margin-top: 150px;
  }

  .line-clamp-3-custom {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .reslayout_img {
    margin-top: -14px !important;
  }
}

@media (min-width:700px) and (max-width:1023px) {
  .unique_number {
    margin-bottom: -86px;
    margin-top: 30px;
  }

  .md_flex1 {
    display: flex;
  }

  .unique_text {
    margin-top: 100px;
  }

  .reslayout_img {
    margin-top: -30px !important;
  }

  .feature_text_heading {
    margin-top: 76px;
  }

  .md_flex_row1 {
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .tracking_img1 {
    width: 320px;
  }

  .res_body {
    background-image: url('/admindashboard/res_body_tab.png');
  }

  .feature_gap_wrap {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }

  .md_flex_row1 {
    flex-direction: row;
    align-items: start;
  }

  .md_flex_row {
    flex-direction: row;
    gap: 23px;
  }

  .md_flex_row2 {
    flex-direction: row;
    gap: 64px;
  }

  .tracking_header {
    font-size: 30px;
    line-height: 36px;
  }

  .buisness_desc {
    max-width: 510px;
  }

  .automation_wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    gap: 18px;
  }

  .feature_card_wrap {
    padding: 22px 32px;
  }

  .feature_text_heading h3 {
    font-size: 30px;
  }

  .feature_text_1 {
    font-size: 30px;
  }

  .banner_ecom {
    font-size: 40px;
    line-height: 50px;
  }

  .customize_md_device {
    padding: 12px 18px;
  }

  .banner_text_desc {
    margin-bottom: 24px;
  }

  .fourteen_block {
    display: none;
  }

  .ebanner_bg {
    height: 550px;
    padding-top: 50px;
  }

  .fourteen_hidden {
    bottom: -42%;
    display: block;
  }

  .support_bg {
    background-image: url('/admindashboard/support_md_device.png') !important;
  }

  .search_bg {
    height: 92px;
  }

  .supportticket_bg {
    background-image: url('/ecommerce/mobile-support.png') !important;
    height: 225px !important;
  }

  .enter_img2 {
    height: 300px;
  }

  .ent_main_img {
    width: 307px;
  }

  .planning_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .aniamted_1 {
    right: -20px;
  }


  .aniamted_1 img {
    width: 180px !important;
    height: 170px !important;
  }

  .aniamted_2 {
    left: -22px;
  }

  .aniamted_2 img {
    width: 250px !important;
    height: 150px !important;
  }

  .enterprise_text {
    font-size: 30px;
  }

  .resource_planning_wrapper {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .payment_card_grid {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }

  .admin_heading {
    font-size: 40px;
    line-height: 50px;
  }

  .feature_card_wrapper {
    display: block;
  }

  .feature_card {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }

  .feature_heading {
    font-size: 30px;
  }

  .md_stats {
    padding: 16px 32px;
  }

  .stat_lebel {
    font-size: 16px;
  }

  .hero_bg {
    gap: 20px;
  }

  .category_modal .category {
    width: 100%;
  }

  .products_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .pricing_text {
    font-size: 20px;
  }

  .md_flex {
    display: flex;
  }

  .md_block {
    display: block;
  }

  .time_limit {
    font-size: 16px;
  }

  .pricing_service h1 {
    font-size: 24px;
  }

  .md_hidden {
    display: none;
  }

  .testimonial {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .testimonial_3rd_row {
    display: none;
  }

  .our_member_btn {
    display: none;
  }

  .our_member_btn1 {
    display: block;
  }

  .our_member_wrapper {
    margin-bottom: 10px;
  }

  .our_member_wrapper h2 {
    font-size: 35px;
  }


  .spacialize_text_inno {
    font-size: 24px;
  }

  .service_heading {
    font-size: 35px !important;
  }

  .work_heading {
    font-size: 60px !important;
  }

  .service-hover-bg:hover {
    background-image: none;
  }

  .company_inside {
    display: flex;
  }

  .company_mobile {
    display: none;
  }

  .work_m {
    margin-top: 60px;
  }

  .work_bg {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 18px;
  }

  .women_image {
    display: none;
  }

  .women {
    display: block;
    right: 0;
    height: 208px !important;
    width: 201px !important;
    top: 0;
  }

  .bottom_wrapper {
    margin: 0 20px;
  }

  .question_btn {
    display: flex;
    padding: 12px 20px;
  }

  .md_questionp {
    padding: 16px 0;
  }

  .question_wrapper {
    justify-content: space-between;
  }

  .md_hidden {
    display: none;
  }

  .hire_us_image_md {
    display: block;
  }



  .tenk_text {
    margin-bottom: -156px !important;
    font-size: 200px !important;
  }

  .trusted_img_card {
    height: 65px;
  }

  .onezero_text {
    letter-spacing: -2.7px;
    font-size: 90px !important;
    line-height: normal !important;

  }

  .shape_bg {
    padding-top: 60px !important;
  }

  .revenue_tab {
    gap: 32px;
  }

  .revenue_tab_card {
    width: 100px;
    height: 100px;
    padding-left: 25px;
    padding-top: 25px;
  }

  .increase_revenue {
    padding-left: 67px;
    padding-right: 67px;
  }

  .hire_line {
    max-width: 730px;
  }

  .what_people_tab {
    flex-direction: row !important;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
    padding: 17px 24px;
  }

  .xs_screen {
    gap: 34px;
  }

  .revenue_tab h3 {
    font-size: 50px;
  }

  .revenue_tab p {
    font-size: 16px;
  }

  /* banner */
  .banner_text {
    font-size: 40px;
    margin-bottom: 0;
  }

  .flex_fixed {
    gap: 60px;
  }

  .tab {
    display: block;
  }

  .join_team_heading {
    font-size: 65px;
  }

  .mobile {
    display: none !important;
  }

  /* ourproducts */
  .product_bg h3 {
    font-size: 30px;
  }

  .md_device {
    bottom: 12% !important;
  }

  .product_bg .tab_button {
    padding-left: 24px;
    padding-right: 24px;
  }

  .products_wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .globally {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* ourproducts */
  .xs_screen {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .roadmap_list {
    width: 100%;
  }

  .testimonial .swiper {
    width: 477px !important;
    height: 254px !important;
  }

  .testimonial-bg {
    background-image: url('/testi1.png');
    background-repeat: no-repeat;
    background-position: top;
  }

  .responsive_bg {
    height: 550px !important;
  }

  .accepted_payment_wrap {
    margin-top: 50px;
  }

  .white_bg {
    height: 494px !important;
    border-radius: 14px !important;
  }

  .compatible_img {
    height: 500px;
  }

  .buisness-bg {
    background-image: url('/admindashboard/buisness-bg1.png') !important;
  }

  .supportticket_bg {
    background-image: url('/ecommerce/tab-supportticket.png') !important;
    height: 241px !important;
    width: 100%;
  }

  .responsive .swiper-slide {
    margin-right: 10px !important;
    margin-left: 0 !important;
  }

  .join_team {
    height: 283px !important;
    background-image: url('/about/team-tab.png');
  }

  .company_bg {
    background-image: url('/about/company_inside_bg-tab.png') !important;
    background-position: top !important;
    height: 478px !important;
    background-size: cover;
  }

  .mega-menu,
  .mega-menu-addons,
  .mega-menu-why {
    left: 28% !important;
  }

  .why_menu {
    flex-direction: column;
    gap: 20px 24px !important;
    align-items: start !important;
  }

  .hoverable:hover .mega-menu-addons {
    top: 190px !important;
  }

  .hoverable:hover .mega-menu-why {
    top: 340px !important;
  }

  .footer_bg {
    background-image: none !important;
  }

  .bottom_banner {
    width: 100%;
    height: 225px;
    background-size: cover;
    background-image: url('/home/bottomtabbg.png');
    background-repeat: no-repeat;
  }

  .whatpeoplethink_wrapper .swiper-slide {
    max-width: 616px !important;
    width: 100%;
  }

  .swiper-pagination {
    display: none !important;
  }

  .banner_bg {
    min-height: 900px;
    background-position: bottom;
  }

  .top_bg {
    height: 64px !important;
  }

  .gradient_text {
    font-size: 40px !important;
  }

  .gradient_text1 {
    background: url('/home/grad1.jfif') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hire_us_bg {
    background-image: url('/home/tab-hireus-bg.png') !important;
    background-repeat: no-repeat !important;
  }

  .arrow_cls {
    width: 40px;
    height: 40px;
    right: 10%;
  }

  .social_md_icons {
    top: 50%;
    flex-direction: column;
  }

  .about_wrapper {
    padding: 30px 20px;
  }

  /* about */
  .about_wrapper .heading {
    font-size: 55px !important;
    line-height: 65px !important;
  }

  .globally_btn {
    margin-top: 24px;
    padding: 13px 24px;
    display: flex;
    gap: 8px;
  }

  .buisness_wrapper {
    flex-direction: row;
  }

  .payment_shadow {
    box-shadow: none !important;
  }

  /* about */
  .arrow_cls {
    width: 64px;
    height: 64px;
    right: 38%;
    /* top: 48%; */
  }

  .heading_text {
    font-size: 30px;
    line-height: 38px;
  }

  .innovative_hidden {
    display: none;
  }

  .innovative_team {
    display: block;
  }

  .inno_text {
    flex-direction: row;
    align-items: end;
  }

  .play_btn {
    left: 60%;
  }

  .inno_line {
    display: block;
  }

  .innovative_wrapper {
    justify-content: end;
  }

  /* footer */
  .md_flex {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .hidden_md {
    display: none;
  }

  .footer_bg {
    padding-left: 32px;
    padding-right: 32px;
  }

  .md_w {
    width: 50%;
  }

  .company {
    margin-right: 30px;
  }

  .add_ons {
    width: 326px;
  }

  /* footer */

  /* about */
  .about_banner_text {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .about_blockbr {
    display: block;
  }

  /* about */

  .md_list_img {
    width: 100%;
  }

  .contact_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .contactForm h1 {
    font-size: 30px;
  }

  .contactForm .text_start {
    text-align: center;
  }

  .pricing_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));

  }

  .md_grid {
    display: grid;
  }

  .contact_form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .contactForm button {
    margin: auto;
    margin-bottom: 30px;
  }

  .retina_text_wrapper {
    padding-left: 20px;
  }

  .retina_text_wrapper h3 {
    font-size: 30px;
    line-height: 32px;
  }

  .white_bg {
    margin: 0 20px;
  }

  .testimonial1 {
    left: 0 !important;
  }

  .testimonial1 img {
    width: 44px;
    height: 44px;
    left: 0 !important;
  }

  .testimonial2 img {
    width: 44px;
  }

  .testimonial2 {
    bottom: -42px;
  }

  .testimonial3 img {
    width: 24px;
    height: 24px;
  }

  .testimonial3 {
    bottom: 18%;
    right: -11px;
  }

  .right_shape {
    margin-top: 50px !important;
  }

  .left_shape {
    margin-top: 50px !important;
  }

  .test_arrow_left {
    left: 43%;
  }

  .test_arrow_right {
    right: 43%;
  }
}



@media (min-width:1024px) and (max-width:1279px) {
  .reslayout_img {
    margin-top: -80px;
  }

  .banner_ecom {
    font-size: 60px;
  }

  .unique_text {
    margin-top: 70px;
  }

  .border_bottom_img {
    right: -20%;
  }

  .top_heading_dash {
    padding-inline: 24px !important;
  }

  .admin_slider_img {
    height: 250px;
  }

  .trusted_img_card {
    height: 80px;
  }

  .trusted_wrap {
    gap: 20px;
  }

  .trusted_parent {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .trusted_grid_wrap {
    gap: 20px;
  }

  .automation_wrap {
    gap: 30px;
  }

  .feature_text_1 {
    font-size: 60px;
    line-height: 62px;
  }

  .ecom_banner_wrapper {
    height: 835px;
  }

  .feature_gap_wrap {
    gap: 10px;
  }

  .feature_card_wrap {
    height: 170px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .onezero_text {
    font-size: 200px !important;
    line-height: 200px;
  }

  .tracking_header {
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 30px;
  }

  .customize_card {
    padding: 15px;
  }

  .customize_card_parent {
    gap: 10px;
  }

  .ebanner_bg {
    height: 586px;
    padding-top: 30px;
  }

  .fourteen_hidden {
    display: none;
  }

  .customize_wrapper {
    margin-top: 180px;
  }

  .ecom_banner_img {
    padding: 0;
    bottom: -20%;
  }

  .fourteen_block {
    display: block;
  }

  .pricing_grid {
    gap: 20px;
  }

  .service_card {
    padding: 16px;
  }

  .testimonial .swiper {
    width: 645px !important;
  }

  .testimonial_card {
    padding-left: 45px;
    padding-right: 45px;
  }

  .support_bg {
    padding-left: 40px;
  }

  .supportticket_bg {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heading_text {
    font-size: 45px;
    line-height: 50px;
  }

  .enterprise_text {
    font-size: 45px;
  }

  .resource_faq {
    width: 400px;
  }

  .enter_img2 {
    height: 400px;
  }

  /* admindashboard page */
  .animate_cartoon {
    right: 4%;
  }

  .animate_bar {
    left: 4%;
  }

  .animated_box {
    bottom: -17%;
  }

  .white_bg {
    height: 600px;
  }

  .retina_text_wrapper {
    padding-left: 40px;
  }

  .retina_text_wrapper h3 {
    font-size: 50px;
  }

  /* admindashboard page */





  .hero_bg {
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .count_ps {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .admin_heading {
    font-size: 40px;
    line-height: 50px;
  }

  .buisness2 {
    right: 0;
  }

  .buisness1 {
    left: 0;
  }

  .list_desc {
    display: block !important;
  }

  .products_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md_block {
    display: none;
  }

  .mega-menu {
    max-width: 900px !important;
    width: 100%;
  }

  .testimonial_3rd_row {
    display: none;
  }

  .social_md_icons {
    right: 0;
  }

  .first_two_row {
    align-items: end;
  }

  /* footer */
  .md_flex {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .hidden_md {
    display: none;
  }

  .footer_bg {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer_man {
    display: none;
  }

  .md_w {
    width: 50%;
  }

  .company {
    margin-right: 30px;
  }

  .add_ons {
    width: 326px;
  }

  .thousand_screen {
    display: none;
  }


  /* footer */



  .cartoon {
    display: none;
  }

  .containers {
    padding-left: 50px;
    padding-right: 50px;
  }

  .twenty_four {
    display: none !important;
  }

  .specialize_text {
    flex-direction: column;
    align-items: start;
  }

  .portfolio_px {
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfolio_image_h {
    height: 500px;
  }

  .case_slider {
    margin-left: 20px;
    margin-right: 20px;
  }

  .twenty_four_p {
    padding-left: 0 !important;
  }

  .lg_screen_px {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header_gap {
    gap: 20px;
  }

  .flex_fixed {
    padding: 0 50px !important;
  }

  .banner_text {
    font-size: 50px !important;
    list-style: 50px !important;
  }

  .gradient_text {
    font-size: 50px !important;
    list-style: 50px !important;
  }

  .products_wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .specialize_text h2 {
    margin-bottom: 12px;
  }

  .increase_wrapper {
    gap: 30px;
  }

  .increase_card {
    padding-right: 30px;
  }

  .increase_card .rounded_card {
    width: 90px;
    height: 90px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .globally_growth {
    padding-left: 50px;
    padding-top: 80px;
  }

  .globally_growth h3 {
    font-size: 45px;
  }

  .globally_items {
    padding-left: 20px;
  }

  .faq_wrapper {
    max-width: 580px;
  }

  .bottom_banner h3 {
    font-size: 50px;
  }

  .bottom_banner {
    padding-left: 50px;
  }

  .women {
    right: 0;
  }

  .privacy {
    width: 330px !important;
  }

  .about_banner {
    gap: 0;
  }

  .innovative {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 50px;
    align-items: center;
  }

  .play_btn {
    left: 61%;
  }

  .work_title {
    font-size: 150px;
    margin-right: 20px;
  }

  .desc_text {
    font-size: 28px;
  }

  .roadmap_list {
    width: 100%;
  }

  .product_wrap {
    padding: 0 20px;
  }

  .case_banner {
    right: 0;
  }

  .contact {
    padding-left: 50px;
    padding-right: 50px;
  }

  .address {
    margin-left: 20px;
    margin-right: 20px;
  }

  .contactForm {
    margin-left: 20px;
    margin-right: 20px;
  }

  .testimonial {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md_lg_screen {
    width: 91%;
  }


  /* about */

  .about_br {
    display: none;
  }

  .about_wrapper .heading {
    font-size: 55px !important;
    line-height: 65px !important;
  }

  .about_wrapper {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .arrow_cls {
    width: 80px;
    height: 80px;
    right: 34%;
    top: 46%;
  }

  .testimonial .swiper-slide:nth-child(1n) {
    border-radius: 20px;
    width: 580px !important;
    height: 415px !important;
  }

  .testimonial3 {
    right: -50px;
  }

  .testimonial2 {
    bottom: -73px;
  }

  .testimonial2 img {
    width: 80px;
  }

  .testimonial1 img {
    width: 80px;
  }

  .testimonial4 img {
    width: 80px;
  }

  .testimonial5 img {
    width: 80px;
  }


}

.swiper-3d .swiper-slide-shadow {
  background: rgb(0 0 0 / 3%) !important;
}

.testimonial .swiper-slide {
  height: auto;
}

@media (min-width:1280px) and (max-width:1440px) {
  .testimonial_card {
    padding: 30px 48px !important;
  }

  .pricing_py {
    padding-block: 90px;
  }

  .testimonial .swiper-slide:nth-child(1n) {
    border-radius: 20px;
    width: 645px;
    height: 415px;
  }

  .testimonial_arrow {
    bottom: -40%;
  }

  .testimonial {
    padding-inline: 100px !important;
  }

  .testimonial_card p:first-child {
    font-size: 18px !important;
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }

  .feature_card_wrap {
    width: 173px;
    height: 166px;
  }

  .feature_card_wrap img {
    width: 44px;
    height: 44px;
    flex-grow: 1;
  }

  .tracking_header {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .ecom_banner_wrapper {
    height: 1000px;
  }

  .fourteen_hidden {
    display: none;
  }

  .fourteen_block {
    display: block;
  }

  .customize_wrapper {
    margin-top: 50px;
  }

  .ebanner_bg {
    height: 650px;
    padding-top: 60px;
  }

  .ecom_banner_img {
    bottom: -8% !important;
  }

  .border_bottom_img {
    width: 380px !important;
    right: -24% !important;
  }

  /* .w-\[300px\] {
}

.h-\[10px\] {
    height: 10px;
}
.hidden {
    display: none;
}
.bottom-\[-10px\] {
    bottom: -10px;
}
.right-\[-9\%\] {
*/



  /* .swiper-cards .swiper-slide {
    width: 645px !important;
  }

  .swiper-cards .swiper-slide {
    width: 645px !important;
    height: 372px !important;
  } */

  .testimonial .swiper {
    width: 645px !important;
    height: 444px;
  }

  .testimonial_arrow_btn {
    bottom: -50%;
  }

  .support_bg {
    padding-left: 150px;
  }

  .testimonial_card {
    padding: 35px 45px;
  }

  /* admindashboard page */
  .enterprise_text {
    font-size: 45px;
    line-height: 56px;
  }

  .animate_cartoon {
    right: 4%;
  }

  .animate_bar {
    left: 4%;
  }

  .animated_box {
    bottom: -17%;
  }

  /* admindashboard page */

  .admin_hero_br {
    display: none;
  }

  .admin_hero_desc {
    max-width: 551px;
    width: 100%;
  }

  .admin_heading {
    font-size: 56px;
  }

  .testimonial .swiper {
    width: 645px;
    height: 372px;
    flex-shrink: 0;
  }

  .service_image {
    margin-bottom: 0;
    height: 196px;
  }

  .service_card {
    padding: 16px;
  }

  .category_wrapper {
    width: 303px !important;
  }

  .products_wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }

  .inno_wrap {
    padding-left: 81px;
    padding-right: 81px;
  }

  .tenk_text {
    font-size: 300px;
  }

  .onezero_text {
    font-size: 300px;
  }

  .about_wrapper .heading {
    font-size: 70px !important;
    line-height: 100px !important;
  }

  .about_wrapper {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .arrow_cls {
    width: 95px;
    height: 95px;
    right: 35%;
  }

  .containers {
    padding-left: 150px;
    padding-right: 150px;
  }

  .specialize_heading {
    font-size: 45px;
    line-height: 55px;
  }

  .increase_wrapper {
    gap: 41px !important;
  }

  .increase_card {
    padding-right: 45px !important;
    gap: 24px !important;
  }

  .heading_text {
    font-size: 45px;
    line-height: 55px;
  }

  .banner_desc {
    font-size: 16px !important;
  }

  .card_image {
    height: 196px !important;
    margin-bottom: 0 !important;
  }

  .card_description {
    padding: 20px !important;
  }

  .btn_position {
    top: 0 !important;
  }

  .specialize_btn_img {
    width: 150px;
    height: 150px;
  }

  .globally_items {
    padding-left: 54px !important;
  }

  .cartoon {
    width: 184px;
    height: 306px;
  }

  .globally_items_width {
    max-width: 490px;
  }

  .globally_items_width .lists {
    max-width: 373px !important;
  }

  .hire_us_bg {
    background-image: url('/10k1440-bg.png') !important;
  }

  .company {
    margin-right: 39px;
  }
}

@media (min-width:1441px) and (max-width:1806px) {
  .fourteen_block {
    display: none;
  }

  .fourteen_hidden {
    display: block;
  }

  .testimonial {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  .service_image {
    height: 273px;
  }

  .products_wrapper {
    padding-left: 80px;
    padding-right: 80px;
  }

  .globally_items {
    padding-left: 54px !important;
  }

  .cartoon {
    width: 200px;
    height: 306px;
  }

  .containers {
    padding-left: 150px;
    padding-right: 150px;
  }

  .responsive .swiper-slide {
    margin-right: 27px !important;
    margin-left: 0 !important;
  }

  .about_wrapper .heading {
    font-size: 70px !important;
    line-height: 100px !important;
  }

  .about_wrapper {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .arrow_cls {
    width: 95px;
    height: 95px;
    right: 35%;
  }
}

.tenk_text {
  text-align: center;
  font-size: 350px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -3.5px;
  text-transform: capitalize;
  background: linear-gradient(176deg, #E8DBFF -11.88%, #F7F8FF 193.37%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -190px;
}

.onezero_text {
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 300px;
  font-style: normal;
  font-weight: 700;
  line-height: 362px;
  letter-spacing: -9px;
  text-transform: capitalize;
  background: linear-gradient(90deg, #486BFA 0%, #FF3697 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (min-width:1806px) and (max-width:1920px) {
  .fourteen_block {
    display: none;
  }

  .fourteen_hidden {
    display: block;
  }

  /* admindashboard page */
  .animate_cartoon {
    right: 12%;
  }

  .animate_bar {
    left: 12%;
  }

  .animated_box {
    bottom: -17%;
  }

  /* admindashboard page */

  .buisness2 {
    right: 310px;
  }

  .buisness1 {
    left: 400px;
  }

  .products_wrapper {
    padding-left: 200px;
    padding-right: 200px;
  }

  .inno_wrap {
    padding-left: 250px;
    padding-right: 250px;
  }

  .hire_us_image .bootstrap {
    left: 10% !important;
  }

  .hire_us_image .node {
    left: 16% !important;
  }

  .hire_us_image .react {
    bottom: -7% !important;
    left: 23% !important;
  }

  .hire_us_image .laravel {
    left: 7% !important;
  }

  .hire_us_image .php {
    left: 22% !important;
  }

  .hire_us_image .android {
    right: 18% !important;
  }

  .hire_us_image .apple {
    top: 32% !important;
    right: 15% !important;
  }

  .hire_us_image .figma {
    right: 7% !important;
  }

  .hire_us_image .flutters {
    right: 21% !important;
  }

  .hire_us_image .firebase {
    right: 10% !important;
  }


  .containers {
    padding-left: 250px;
    padding-right: 250px;
  }

  .ui_ux {
    top: -7% !important;
    right: 6% !important;
  }

  .saas {
    bottom: -7% !important;
    right: 6% !important;
  }

  .flutter {
    top: -7% !important;
    left: 6% !important;
  }

  .website {
    bottom: -7% !important;
    left: 6% !important;
  }

  .software {
    top: 33% !important;
    left: 27% !important;
  }

  .digital {
    top: 33% !important;
    right: 26% !important;
  }

  .responsive .swiper-slide {
    margin-right: 27px !important;
    margin-left: 0 !important;
  }

  .about_wrapper .heading {
    font-size: 120px;
  }

  .about_wrapper {
    padding-left: 265px !important;
  }
}